<article>
	<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
	<div class="post-meta">
		<div class="post-date">
      {{ post.date | date: "%d %B %Y" }} <span class="post-autor">Autor: {{ post.author }}</span>
	</div>
	</div>
	<div class="post-content">
		{{ post.excerpt }}
		{% if post.excerpt != post.content %}
		<div class="blog-back">
			<a href="{{ sire.url }}{{ post.url }}"><input type="button" class="btn blue corners" value="Continuar Leyendo"></a>
		</div>
		{% endif %}	
	</div>
</article>