---
layout: default
permalink: n-miembros.html
title: Miembros
---
	<div class="wrap">
		<div class="first-el content">
			<h1>Nuestros miembros</h1>
			<p>
				
			</p>
		</div>
		<div class="cards">
		{% for miembro in site.data.miembros %}
			<div class="card corners">
				<div class="card-img">
					<img src="{{ site.url }}/{{ miembro.picture }}" alt="">
				</div>
				<div class="card-info">
					<h3>{{ miembro.name }}</h3>
					<p>
						{{ miembro.carrera }}
					</p>
					<div class="sm sm1">
						{% if miembro.instagram %}
							<a href="{{ miembro.instagram }}"><span class="icon-instagram"></span></a>
						{% endif %}
						{% if miembro.twitter %}
							<a href="{{ miembro.twitter }}"><span class="icon-twitter"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>